{% extends "network/layout.html" %}

{% load static %}

{% block body %}

    {% if user.is_authenticated %}

        <div>
            <form method="POST" action="{% url 'new_post' %}" class="form-inline justify-content-center" id="new-post">
                {% csrf_token %}
                <div class="form-group m-4">
                    <textarea autofocus class="form-control" name='post-content' id="post-content" rows="3" cols="75" placeholder="What's on your mind?"></textarea>
                </div>
                <input class="btn btn-primary mb-2" type="submit" value="Submit">
            </form>
        </div>

    {% endif %}

    <div id="posts">

        {% for post in p_posts %}

            <div class="row border border-2 rounded p-2 m-3">
                <!-- Formatting the date and time from backend -->
                <div class="col-2"><a href="{% url 'user' id=post.owner.id %}" class="text-decoration-none">@{{ post.owner }}</a>
                    <div class="text-info">{{ post.creation|date:"d-m-y H:i" }}</div>
                </div>
                <div class="col contentpost" id="post{{ post.id }}" data-value={{ post.id }}>{{ post.content }}</div>
                <div class="col-2"><button class="btn btn-primary" value="Edit"></div>
            </div>

        {% endfor %}
    </div>


    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

            <!-- Show previous button -->
            {% if p_posts.has_previous %}
                <li class="page-item"><a class="page-link" href="?p_number={{ p_posts.previous_page_number }}">Previous</a></li>
            {% endif %}

            <!-- Show next button -->
            {% if p_posts.has_next %}
                <li class="page-item"><a class="page-link" href="?p_number={{ p_posts.next_page_number }}">Next</a></li>
            {% endif %}
        
        </ul>
    </nav>
    <script>
        document.getElementsByClassName('contentpost').forEach (item => {
            addEventListener('click', () => edit(item.dataset.value))
        })
        function edit(post) {
            document.getElementById(`post${post}`).style.display = 'none';
            fetch(`/posts/${post}`, {
                method: 'POST',
                body: document.querySelector('#edit-body').value
            })
        }

    </script>
{% endblock %}