#register-form {
    max-width: 30%;
    margin: auto;
    text-align: center;
}

#login-form {
    max-width: 30%;
    margin: auto;
    text-align: center;   
}

#new-post, #follow_form {
    max-width: 60%;
    margin: auto;
    text-align: center;   
}

#posts {
    max-width: 60%;
    margin: auto;
}

#follow_status {
    margin: auto;
    text-align: center;
    font-size: 25px;
    max-width: 60%;
    
}

a {
    font-size: large;
    font-weight: 500; 
}