#register-form {
    max-width: 30%;
    margin: 4pt;
    text-align: center;
}

#login-form {
    max-width: 30%;
    margin: auto;
    text-align: center;   
}

#new-post {
    max-width: 60%;
    margin: auto;
    text-align: center;   
}

#posts {
    max-width: 60%;
    margin: auto;
}